<div class="container-sm">
  <div class="row">
    <div class="col">
      <h1>Success!Please use this link:</h1>
      <form action="/shorten" method="get">
        <input type="url" class="form-control" value={{shorten_url}} id="url">
        <button type="copy" class="btn btn-primary" onclick="copyLink()">Copy</button>
      </form>

    </div>

  </div>

</div>
<script>
  function copyLink() {

    let copyText = document.getElementById("url").value
    navigator.clipboard.writeText(copyText)
      .then(() => {
        console.log('內容已複製')
      })
      .catch((err) => {
        console.log(err)
      })


  }
</script>