<div class="container-sm">
  <div class="row">
    <div class="col">
      <h1>Success!Please use this link:</h1>
      <form action="/shorten" method="GET">
        <input type="url" class="form-control" id="url">
        <button type="copy" class="btn btn-primary">Copy</button>
      </form>

    </div>

  </div>

</div>